<form class="form-container" action="<%= path  %>" method="POST">
    <label for="title">Add product</label>
    <input type="text" name="title" placeholder="product name">
    <label for="price">Price</label>
    <input type="number" name="price" placeholder="enter price" step="0.01">
    <label for="description">Add A Description</label>
    <textarea name="description"  cols="40" rows="5"></textarea>
    <button type="submit">Add</button>
</form>