<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list_items">
        <a class="<%= (path ==='/') && 'active' %>" href="/">Shop</a>
      </li>
      <li class="nav-list_items">
        <a
          class="<%= (path ==='/admin/add-product') && 'active' %>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li class="nav-list_items">
        <a
          class="<%= (path ==='/admin/edit-product') && 'active' %>"
          href="/admin/edit-product"
          >Edit Product</a
        >
      </li>
      <li class="nav-list_items">
        <a class="<%= (path ==='/cart') && 'active' %>" href="/cart">Cart</a>
      </li>
    </ul>
  </nav>
</header>
