.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 40%;
    max-width: 300px;
    margin: 0 auto;
}


.form-container input{
    padding: .2em;
    border: 1px solid #9349d8;
    border-radius: 3px;
    flex: 0 0 100%
}


.form-container button{
    border: none;
    border-radius: 3px;
    padding: .25em .75em;
    background-color: #470a80;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.form-container button:hover,
.form-container button:focus {
    transform: scale(1.03);
    background-color: #9349d8;
}
