* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    letter-spacing: 1.2;
}
/* typogrophy */

h1, h2, h3 {
    margin: 0;
}

/* navigation styles */

.header,
.nav,
.nav-list {
    display: flex;
}

.header {
    background-color: #4a1e64;
}

.nav {
    font-size: .8rem;
    flex-basis: 100%;
    justify-content: space-between;
    align-content: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    flex-basis: 100%;
    justify-content: space-between;
}

.nav-list a {
    color: white;
    text-decoration: none;
    transition: all ease-in-out .5s;
    padding: .5em 1em;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.active {
    border-bottom: 1px solid;
    color:#dcc9f1
}

.main-title {
    display: inline-block;
    padding: 1em;
    
}
/* Gerneric Button Styles */
.btn {
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #593e72;
    color: white;
    font-weight: bold;
    align-self: center;
    padding: .25em .75em;
    transition: opacity 0.5s ease-in-out;
}


.btn:hover,
.btn:focus {
    opacity: 0.9;
}

.form {
    grid-area: cart;
}

.form .add {
    width: 100%;
    height: 100%;
    cursor: pointer;
}