* {
    box-sizing: border-box;
}
.flex {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
    justify-items: center;
    margin: 0 auto;
}

.grid {
    display: grid;
    flex:0 1 250px;
    grid-template-areas: 
    'title title title'
    'desc desc desc'
    'price price price'
    'price price price'
    'details cart cart';
    grid-template-rows: repeat(3, 75px);
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    padding: 1em;
    margin-bottom: .75em;
    gap: .5rem;
}

.grid h2 {
    grid-area: auto  / title ;
    justify-self: center;
}
.description {
    grid-area: 2 / desc;
    justify-self: center;
}

.price {
    grid-area: 4 / price;
    justify-self: center;
}

.grid .add,
.grid .details {
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #593e72;
    color: white;
    font-weight: bold;
    align-self: center;
    padding: .25em .75em;

}

.details {
    grid-area: details/details/details;
}

.add {
    grid-area: cart;
}

@media (max-width:590px){
    .grid{
        margin: 10px auto;
    }
}